.servInfo {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servInfo h2 {
  font-size: 38px;
}

.servInfo img {
  border-radius: 10px;
  width: 800px;
  height: 450px;
}

.servInfo p {
  font-size: 16px;
  width: 60%;
}
