.servInfo {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servInfo h2 {
  font-size: 38px;
}

.servInfo img {
  border-radius: 10px;
  width: 600px;
  height: 350px;
  margin: 10px 0;
}

.servInfo p {
  font-size: 16px;
  width: 60%;
}
.servInfo a {
  border: none;
}

.servInfo a:hover {
  color: #444444;
}
